*.pyc
build/*
.coverage
coverage_report.xml
*.egg-info
*.ipynb_checkpoints/*
.tox/*
docs/source/.ipynb_checkpoints/
docs/source/_build/
report.xml
coverage.xml
dist
!docs/build/.empty
docs/build/*
tintx_core/Cargo.lock
tintx_core/benchmark_*
tintx_core/target
tintx_core/*.py
